@import "./Schema.scss";

.diag{
    width: 90%;
    margin: 0 auto;

    &__content{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}