@import "Schema.scss";

.diag {
  &__title {
    text-align: center;
    padding: 20px 10px;
    font-size: 2.5em;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
  }
  &__box--reverse{
    flex-direction: column-reverse;
  }
  &__box--img {
    width: 300px;
    height: 300px;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__box--text {
    width: 300px;
    height: 300px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    
    h3 {
      padding-bottom: 10px;
    }

  }
  
  @include mobile_s {
    .title{
      text-align: center;
      padding: 20px;
      font-size: 3em;
    }
  } 
  @include mobileLandscape {
    &__box {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    &__box--text {
      width: 350px;
      height: 350px;
    }
    &__box--img {
      width: 350px;
      height: 350px;
    }
    &__img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  @include tablet {
    &__box {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    &__box--text {
      width: 450px;
      height: 450px;
    }
    &__box--img {
      width: 450px;
      height: 450px;
    }
    &__img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    } 
  }
}
