@import "./Schema.scss";

.centro{
    width: 80%;
    margin: 0 auto;
    

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        img{
            height: 50vh;
            object-fit: cover;

        }

        &--info{
            font-size: 24px;
            padding-bottom: 10px;
          
        }
    }

    &__horario{
        width: 100%;
        text-align: center;

        &--title{
            padding-bottom: 10px;
        }

        &--info{
            padding: 10px;
        }
    }
    h3{
        text-align: center;
        padding-top: 20px;
    }
}