@import "Schema.scss";

.cookiesBanner{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 98vw;
    padding: 10px;
    z-index: 9999;
    background-color: $base-color;

    &__title{
        display: flex;
        align-items: baseline;
        gap: 10px;
        height: 35px;
        img{
            width: 20px;
        }
        h3{
            font-weight: 600;
        }
    }

    &__text{
        padding-bottom: 10px;
        span{
            padding-left: 10px;
            text-decoration: underline black;
            cursor: pointer;
        }
    }

    &__buttons{
        height: 60px;
        display: flex;
        gap: 20px;
        justify-content: center;
        .accept{
            background-color: $secondary-color;
            color: black;
        }
        .decline{
            background-color: $unactive;
            color: black;
        }
    }
}