@import "./Schema.scss";

.doctor {
    padding: 50px;
    background-color: aquamarine;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    /* INPUT SEARCH */
    &__search{
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: crimson;
        
        input{
            width: 250px;
            font-size: 15px;
            text-align: center;
            border: none;
            border-bottom: 2px solid $base-color;
            background-color: $background-color;
        }

        input::placeholder {
            text-align: center;
            color: black;
        }
    }
    /* CONTAINER DOCTOR CARDS */
    &__cards {
/*         gap: 20px;
 */        background-color: pink;
        display: flex;
        width: 300px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
}