@import "./Schema.scss";

.doctors {
  display: flex;
  border-radius: 16px;
  margin: 20px 0;
  border: 3px solid $base-color;
  background-color: bisque;
  align-items: center;
  width: 300px;
  height: 300px;
  justify-content: center;

  &__box--img {
    border: 2px green solid;
    width: 190px;
    height: 190px;
    margin: 10px;
/*     border-radius: 50%;
 */    object-fit: cover;

  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
        border-radius: 50%;

    /* height: 150px; */
  }

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;

    h4 {
      font-size: 25px;
    }

    span {
      color: $base-color;
      font-weight: bold;
    }
  }
}

@media (max-width: 500px) {
  .doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
