.doctors{
    display: flex;
    padding: 30px;
    border-radius: 16px;
/*     flex-direction: column; */
    justify-content: center;

    img{
        width: 200px;
        border-radius: 500px;

    }

    &__info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}