@import "Schema.scss";
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 2em 0 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  gap: 2em;
  border-top: $border;
  flex-wrap: wrap;
  margin-top: 20px;

  @include tablet {
    flex-direction: row;
    align-content: inherit;
  }

  &__logo {
    img {
      width: 50px;
    }
    p {
      font-weight: 800;
    }
    text-align: center;

    @include tablet {
      text-align: inherit;
    }
  }

  &__ul {
    h3 {
      font-size: 1.2em;
      padding-bottom: 0.2em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* EL COLOR QUE QUIERO */
  &__li {
    padding: 0.1em 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline $base-color;
    }
    &__horario {
      padding-top: 0.5em;
      border-bottom: $border;
      font-weight: 600;
      cursor: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    a {
      padding: 0.1em 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline $base-color;
      }
    }
    &__p {
      text-align: center;
      font-size: 0.8em;
      cursor: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    &__svg {
      height: 1em;
      margin-top: -1px;
    }
  }

  &__links {
    &:hover {
      font-weight: initial;
    }
  }
  &__mail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.3em;

    p {
      font-weight: 600;
    }
  }

  .subFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: $border;
    padding: 5px 0;
    align-items: center;
    text-align: center;
    font-size: 0.8em;

    @include tablet{
      justify-content: space-between;
      flex-direction: row;
      font-size: 1em;
    }

     &__ul1{
      gap: 20px;

      @include tablet {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0;
      }

      li{
        padding-bottom: 10px;
        @include tablet{
          padding: 0;
        }
      }

        li:hover{
          text-decoration: underline $base-color;
        }
      }
      
      &__ul2{
        width: 40%;
        text-align: center;
        
        li:hover{
          text-decoration: underline $base-color;
        }
      }
     

  }
}
