@font-face {
  font-family: "hind";
  src: url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap%27");
}

* {
  font-family: "hind";
  text-decoration: none;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1em;
}
a {
    font-size: 1em;
    color: black;
  }
a:hover{
    font-weight: 500;
}

