@import "Schema.scss";

.header {
  width: 100%;
  padding-top: 0.7em;
  margin: 0 auto;
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border;
  

  &__logo {
    margin: 0;
    padding: 0.2em 1em;
    height: 3em;
  }

  &__button {
    background-color: $background-color; 
    border: black 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    /* display: none; */
  }

  @include tablet {
    display: flex;
  }
  
  &__svg {
      width: 2em;
      height: 2em;
    }
}
