@import "Schema.scss";
.home {
  margin: 0 auto;
  width: 90%;
  font-size: $generalFont;

  &--button {
    position: absolute;
    left: 32.5%;
    top: 65%;
    padding: 0 !important;
    width: 35%;
    background-color: $base-color;
    cursor: pointer;
    color: white;
    transition: ease 1s;
    border: none;

    @include mobile{
      top: 75%;
    }
    

    @include tablet {
      left: 37.5%;
      top: 85%;
      width: 25%;
      padding: 3px !important;
    }
  }

  &__ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0.5em 0;

    &--li {
      background-color: $base-color;
      padding: 10px;
      font-size: 26px;
      color: white;

      span {
        font-weight: 700;
      }
    }
  }

  &__video {
    position: relative;
    overflow: hidden;
    min-height: max-content;
    max-height: 73vh;

    &--src {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  h3 {
    text-align: center;
    padding: 10px;
  }

  &__specs {
    margin: 0 auto;
    width: 80%;
    padding: 0.8em 0;
    display: flex;
    justify-content: center;

    &--wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px calc(100vw / 3 / 2);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    p {
      padding-top: 0.5em;
      font-size: 1.5em;
    }

    &--img {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 35vw;
        height: 100%;

        @include mobile {
          width: 25vw;
        }

        @include tablet {
          width: 12vw;
        }
      }
    }

    &--info {
      text-transform: capitalize;
    }
  }

  &__remote {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 10px;

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }

    &--h2 {
      position: absolute;
      top: 55%;
      text-align: center;
      left: 0;
      right: 0;
      font-size: 3vw;
      color: black;
      text-transform: uppercase;

      @include mobile {
        top: 72%;
        font-size: 2vw;
      }

      @include tablet {
        font-size: 2.4vw;
        text-align: center;
        top: 80%;
        left: 0;
        right: 0;
        text-transform: capitalize;
      }
    }
  }
}