@import "Schema.scss";
.navbar {
    width: 80%;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
    align-items: center;

    &__links{
        margin: 0.5em;
        &:hover {
            text-decoration: underline $base-color;
          }
    }
}