@import "./Schema.scss";

.pedirCita{
    font-size: $generalFont;
    text-align: center;
    padding: 1em;
    
    h4{
        /* padding-top: 0.5em; */
    }
    p{
        /* padding-top: 0.3em; */
    }
}

.pedir_cita{
    text-align: center;
    padding: 0;
}
