$base-color: #8cc9a9;
$secondary-color: #e2e1e1;
$background-color: #f4f3ef;
$border: 1px solid #8d8c8c;
$grey: #333;
$unactive: #9b9b9b;

$generalFont: 16px;

.title {
  text-align: center;
  padding: 20px;
}

.primary_button {
  border: none;
  border-radius: 25px;
  padding: 0.52em 2em;
  margin: 1em 0;
  cursor: pointer;
  color: $unactive;
  font-weight: 600;
  background-color: $background-color;
  border: 1px solid $base-color;
  transition: ease-in 500ms;

  &:valid {
    color: white;
    background-color: $base-color;
    border: 1px solid $secondary-color;
  }
}

// <--- mixins --->

$layout_bp_mobile_s: 400px;
$layout_bp_mobile: 480px;
$layout_bp_mobileLandscape: 750px;
$layout_bp_tablet: 1004px;
$layout_bp_desktop: 1500px;

@mixin mobile_s {
  @media only screen and (min-width: #{$layout_bp_mobile_s}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (min-width: #{$layout_bp_mobile}) {
    @content;
  }
}

@mixin mobileLandscape {
  @media only screen and (min-width: #{$layout_bp_mobileLandscape}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$layout_bp_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$layout_bp_desktop}) {
    @content;
  }
}
