.specs{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 60%;
    margin: 0 auto;

    img{
        width: 40%;
    }

    p{
        font-size: 1.2rem;
    }
}