@import "./reset.scss";
@import "./styles/Global.scss";
@import "./styles/Schema.scss";

.App{

    h1{
        text-align: center;
        margin: auto 0;
    }
    width: 90%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
