@import "./Reset.scss";
@import "./styles/Global.scss";
@import "./styles/Schema.scss";

.App{
    width: 90%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
